body {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(219, 219, 219);
    font-family: 'Roboto', sans-serif;
    overflow-x: hidden;
}

:root {
    --primary: #7dd829;
    --bg-input: rgba(180, 211, 4, 0.281);
    --outline-input: rgb(211, 190, 4);
}

h2 {
    font-size: 18px;
    font-weight: 700;
    color: rgb(12, 119, 122);
}

h3 {
    font-size: 16px;
    font-weight: 500;
    color: rgb(39, 39, 39);
    margin: 0;
}

.list-menu {
    display: flex;
    justify-content: center;
    margin-top: 30px;
}

.menu {
    list-style: none;
    padding: 0;
    font-size: large;
    display: flex;
    flex-direction: column;
    justify-content: start;

}

#mypump {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.menu li {
    margin-bottom: 10px;
    margin-top: 10px;
}

.menu li a {
    text-decoration: none;
    color: #333;
    padding: 10px 30px;
    border-radius: 5px;
    transition: background-color 0.3s;
    display: flex;
    align-items: center;
    gap: 10px;
}

.menu li a:hover {
    background-color: #f0f0f0;
}

.menu li .active {
    background-color: #f0f0f0;
}

span {
    margin-left: 3px;
    margin-right: 3px;
}

.container {
    width: 100%;
    display: block;
    margin-left: 0;
}

.hidden {
    display: none;
}

.logo img {
    display: none;
}

.logo i {
    font-size: 40px;
    color: var(--primary);
}

.logo h3 {
    display: flex;
    gap: 20px;
    align-items: center;
    font-size: 14px;
}

.logo-itb {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    padding-top: 0;
    border-bottom: none;
    padding-bottom: 0;
    margin-inline: 0;
    width: auto;
}

.logo-header {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
}

.myheader {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-inline: 20px;
    gap: 10px;
    height: 70px;
    margin: 15px;
    background-color: white;
    border-radius: 8px;
    font-weight: bold;
    color: rgb(39, 39, 39);
    overflow: hidden;
}

.toggle-container-2 {
    display: flex;
    align-items: center;
    position: static;
    transform: none;
}

.myapp {
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 20px;
    padding-top: 5px;
    margin: 15px;
    background-color: white;
    border-radius: 8px;
    overflow-y: auto;
    overflow-x: auto;
}

.sensor {
    display: flex;
    flex-direction: column;
    gap: 15px;
    width: 100%;
}

.data-sensor {
    display: flex;
    justify-content: space-between;
    gap: 15px;
    align-items: center;
}

.data-pump {
    display: flex;
    justify-content: space-between;
    gap: 10px;
    padding-block: 20px;
    margin-inline: 30px;
}

.data-sensor input {
    outline: none;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.col-data {
    text-align: center;
    background-color: var(--bg-input);
    border: 2px solid var(--outline-input);
    border-radius: 8px;
    width: 60px;
    height: 30px;
    font-size: 18px;
    font-weight: 600;
    color: rgb(71, 71, 60);
    align-items: center;
    padding-bottom: 0;
    padding-top: 2px;
}

.data-setup {
    display: flex;
    justify-content: center;
    align-items: center;
}

input:checked+.slider {
    background-color: #f50072;
}

input:focus+.slider {
    box-shadow: 0 0 1px #f50072;
}

input:checked+.slider:before {
    -webkit-transform: translateX(20px);
    -ms-transform: translateX(20px);
    transform: translateX(20px);
}

.switch-2 {
    position: relative;
    display: inline-block;
    width: 50px;
    height: 25px;
}

.switch-2 input {
    opacity: 0;
    width: 0;
    height: 0;
}

.slider-2 {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
    border-radius: 15px;
}

.slider-2:before {
    position: absolute;
    content: "";
    height: 17px;
    width: 17px;
    left: 4px;
    bottom: 4px;
    background-color: rgb(255, 255, 255);
    -webkit-transition: .4s;
    transition: .4s;
    border-radius: 15px;
}

input:checked+.slider-2 {
    background-color: var(--primary);
}

input:focus+.slider-2 {
    box-shadow: 0 0 1px var(--primary);
}

input:checked+.slider-2:before {
    -webkit-transform: translateX(20px);
    -ms-transform: translateX(20px);
    transform: translateX(20px);
}

#autoText {
    margin-left: 10px;
    color: var(--primary);
    font-weight: 600;
}

#manualText {
    margin-right: 10px;
    color: #666;
    font-weight: 600;
}

footer {
    width: 100%;
    color: rgb(39, 39, 39);
    text-align: center;
    font-size: small;
    padding-bottom: 30px;
}

footer span {
    font-weight: bold;
    color: rgb(30, 139, 143);
}

.btn-upload {
    text-align: left;
    width: 80px;
    color: white;
    padding: 10px;
    border-radius: 7px;
    border-width: 0;
    background-color: #0b9b7c;
    cursor: pointer;
    margin-left: 7px;
}

.btn-upload:hover {
    background-color: #37bb9e;
}

.btn-upload:active {
    background-color: #0d705b;
}

.btn-start {
    text-align: left;
    width: 70px;
    color: white;
    padding: 10px;
    border-radius: 7px;
    border-width: 0;
    background-color: #60b114;
    cursor: pointer;
    margin-left: 7px;
}

.btn-start:hover {
    background-color: #7dd829;
}

.btn-start:active {
    background-color: #488112;
}

.btn-start:disabled {
    background-color: #666;
}

.btn-stop {
    text-align: left;
    width: 70px;
    color: white;
    padding: 10px;
    border-radius: 7px;
    border-width: 0;
    background-color: #ff2c07;
    cursor: pointer;
    margin-left: 7px;
}

.btn-stop:hover {
    background-color: #fc6348;
}

.btn-stop:active {
    background-color: #c5280c;
}

.btn-stop:disabled {
    background-color: #666;
}

.layout {
    width: 100vw;
    display: flex;
    flex-direction: row;
}

.sidebar {
    width: 18vw;
    background-color: white;
    margin: 15px;
    margin-right: 5px;
    border-radius: 8px;
    position: fixed;
    left: 0;
    top: 9px;
    height: calc(100vh - 50px);
}

.panel-sidebar {
    width: 21vw;
    margin: 15px;
    border-radius: 8px;
    position: sticky;
    left: 0;
    top: 0;
    height: 100vh;
}

#mypanel {
    display: flex;
    width: 100%;
}

.grid-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 10px;
}

.item {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.item label {
    font-size: small;
    margin-bottom: 5px;
    margin-top: -15px;
}

.all .btn-start {
    width: 90px;
}

.all .btn-stop {
    width: 90px;
}

#pump_interface {
    margin-bottom: 30px;
}

@media (min-width: 991px) {
    #mypanel .myapp:nth-child(1) {
        width: 40%;
        margin-right: 0;
        margin-top: 0;
    }

    #mypanel .myapp:nth-child(2) {
        width: 60%;
        margin-top: 0;
    }

    .grid-container {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-gap: 10px;
    }
}

@media (max-width: 991px) {
    body {
        overflow: auto;
    }

    .panel-sidebar {
        display: none;
    }

    #mypanel {
        display: block;
    }

    .logo {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 10px;
        padding-top: 0;
        border-bottom: none;
        padding-bottom: 0;
        margin-inline: 0;
        width: auto;
    }

    .logo h3 {
        display: none;
    }

    .logo img {
        display: block;
    }
}